*{
    front-family:arial;
    color:aquamarine
}
header{
    padding-color:
    background-color:blue;
    margin-bottom:
}
nav{
    padding-color:
    background-color:palevioletred
    margin-bottom:
}
section{
    padding-color:
    background-color:blue
    margin-bottom:
}
articule{
    padding-color:
    background-color:
    margin-bottom:
}